# üìÖüîé Filtrando por Datas

- O `yfinance` √© uma biblioteca do Python usada para acessar dados financeiros do **Yahoo Finance**.
- Com ela, voc√™ pode obter informa√ß√µes sobre a√ß√µes, √≠ndices, moedas, fundos e outros ativos financeiros diretamente pelo c√≥digo.

In [1]:
# Vamos instalar a biblioteca yfinance
!pip install yfinance

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (0.2.55)
Requirement already satisfied: pandas>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (from yfinance) (3.17.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\marcos winther\appdata\roaming\python\python312\site-packages (from requests>=2.31->yfinance) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)

In [2]:
# Importando a biblioteca yfinance
import yfinance as y

In [3]:
# Importando a biblioteca pandas
import pandas as pd

In [4]:
# Cota√ß√µes da empresa Petrob√°s
petrobas = y.download('petr4.sa', period= '3y') # O y.download() j√° retorna um DataFrame do Pandas.

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [5]:
# Os 5 primeiros dados do nosso dataset
petrobas.head()

Price           Close       High        Low       Open    Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2022-03-24  12.766703  12.837585  12.471360  12.621000  49402800
2022-03-25  12.719449  12.817897  12.569809  12.660381  51780100
2022-03-28  12.443796  12.632816  12.199645  12.624940  68610500
2022-03-29  12.719449  12.900593  12.569809  12.652505  93809000
2022-03-30  12.991166  12.991166  12.750953  12.798208  69648400

In [6]:
# Os 5 √∫ltimos dados do nosso dataset
petrobas.tail()

Price           Close       High        Low       Open    Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2025-03-18  36.189999  36.410000  35.910000  36.189999  15086400
2025-03-19  36.160000  36.330002  36.029999  36.270000  21180500
2025-03-20  36.240002  36.480000  35.759998  36.160000  46921900
2025-03-21  36.799999  37.029999  36.180000  36.220001  61175700
2025-03-24  36.720001  36.939999  36.500000  36.700001  11539900

In [7]:
# Informa√ß√µes do nosso dataset
petrobas.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 749 entries, 2022-03-24 to 2025-03-24
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Close, PETR4.SA)   749 non-null    float64
 1   (High, PETR4.SA)    749 non-null    float64
 2   (Low, PETR4.SA)     749 non-null    float64
 3   (Open, PETR4.SA)    749 non-null    float64
 4   (Volume, PETR4.SA)  749 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 35.1 KB

In [8]:
petrobas.index

DatetimeIndex(['2022-03-24', '2022-03-25', '2022-03-28', '2022-03-29',
               '2022-03-30', '2022-03-31', '2022-04-01', '2022-04-04',
               '2022-04-05', '2022-04-06',
               ...
               '2025-03-11', '2025-03-12', '2025-03-13', '2025-03-14',
               '2025-03-17', '2025-03-18', '2025-03-19', '2025-03-20',
               '2025-03-21', '2025-03-24'],
              dtype='datetime64[ns]', name='Date', length=749, freq=None)

In [9]:
[indice for indice in petrobas.index][0:10]

[Timestamp('2022-03-24 00:00:00'),
 Timestamp('2022-03-25 00:00:00'),
 Timestamp('2022-03-28 00:00:00'),
 Timestamp('2022-03-29 00:00:00'),
 Timestamp('2022-03-30 00:00:00'),
 Timestamp('2022-03-31 00:00:00'),
 Timestamp('2022-04-01 00:00:00'),
 Timestamp('2022-04-04 00:00:00'),
 Timestamp('2022-04-05 00:00:00'),
 Timestamp('2022-04-06 00:00:00')]

In [10]:
# Exemplo: dado do dia 24-03-2022
petrobas.loc[petrobas.index == '2022-03-24']

Price           Close       High       Low     Open    Volume
Ticker       PETR4.SA   PETR4.SA  PETR4.SA PETR4.SA  PETR4.SA
Date
2022-03-24  12.766703  12.837585  12.47136   12.621  49402800

In [11]:
# Exemplo: dados a partir do dia 10-10-2023
petrobas.loc[petrobas.index >= '2023-10-10']

Price           Close       High        Low       Open    Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2023-10-10  27.671951  27.774121  27.302575  27.428321  48326500
2023-10-11  27.601221  27.703390  27.106099  27.616940  41578500
2023-10-13  28.512880  28.575755  28.119924  28.127785  66943700
2023-10-16  28.827246  28.921554  28.261388  28.607191  49626600
2023-10-17  29.605295  29.605295  28.787949  28.842963  68814800
...               ...        ...        ...        ...       ...
2025-03-18  36.189999  36.410000  35.910000  36.189999  15086400
2025-03-19  36.160000  36.330002  36.029999  36.270000  21180500
2025-03-20  36.240002  36.480000  35.759998  36.160000  46921900
2025-03-21  36.799999  37.029999  36.180000  36.220001  61175700
2025-03-24  36.720001  36.939999  36.500000  36.700001  11539900

[361 rows x 5 columns]

In [12]:
# Exemplo: dados anteriores ao dia '01-12-2023'
petrobas.loc[petrobas.index < '2023-12-01']

Price           Close       High        Low       Open    Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2022-03-24  12.766703  12.837585  12.471360  12.621000  49402800
2022-03-25  12.719449  12.817897  12.569809  12.660381  51780100
2022-03-28  12.443796  12.632816  12.199645  12.624940  68610500
2022-03-29  12.719449  12.900593  12.569809  12.652505  93809000
2022-03-30  12.991166  12.991166  12.750953  12.798208  69648400
...               ...        ...        ...        ...       ...
2023-11-24  28.805452  29.254644  28.348092  28.568605  53456200
2023-11-27  28.642111  28.911627  28.380763  28.584941  36996000
2023-11-28  29.074966  29.091301  28.707448  28.723780  36875900
2023-11-29  28.772783  29.426153  28.535936  29.319982  37528600
2023-11-30  29.328148  29.336314  28.780952  28.960627  58808800

[423 rows x 5 columns]

In [13]:
# Exemplo: dados do ano 2024
petrobas.loc[petrobas.index.year == 2024] # O ano procurado deve ser formato int

Price           Close       High        Low       Open    Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2024-01-02  30.855402  30.945241  30.545053  30.577720  24043800
2024-01-03  31.819120  31.949794  30.765560  30.871734  52300200
2024-01-04  31.549608  32.137639  31.451600  31.949796  45344900
2024-01-05  31.623108  31.966126  31.369926  31.745613  35783700
2024-01-08  31.386265  31.386265  30.716561  31.345430  35158100
...               ...        ...        ...        ...       ...
2024-12-20  35.522152  36.004135  35.387197  35.820983  59277400
2024-12-23  35.531796  35.714948  35.396841  35.666750  43785600
2024-12-26  35.770000  36.000000  35.599998  35.630001  22920700
2024-12-27  35.660000  36.000000  35.610001  36.000000  24167200
2024-12-30  36.189999  36.369999  35.770000  35.779999  22355600

[251 rows x 5 columns]

In [14]:
# Exemplo: dados do m√™s de Mar√ßo de todos os anos
petrobas.loc[petrobas.index.month == 3] # O m√™s procurado deve ser formato int

Price           Close       High        Low       Open    Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2022-03-24  12.766703  12.837585  12.471360  12.621000  49402800
2022-03-25  12.719449  12.817897  12.569809  12.660381  51780100
2022-03-28  12.443796  12.632816  12.199645  12.624940  68610500
2022-03-29  12.719449  12.900593  12.569809  12.652505  93809000
2022-03-30  12.991166  12.991166  12.750953  12.798208  69648400
...               ...        ...        ...        ...       ...
2025-03-18  36.189999  36.410000  35.910000  36.189999  15086400
2025-03-19  36.160000  36.330002  36.029999  36.270000  21180500
2025-03-20  36.240002  36.480000  35.759998  36.160000  46921900
2025-03-21  36.799999  37.029999  36.180000  36.220001  61175700
2025-03-24  36.720001  36.939999  36.500000  36.700001  11539900

[63 rows x 5 columns]

In [15]:
# Exemplo: dados do dia 15 de cada m√™s e ano
petrobas.loc[petrobas.index.day == 15]

Price           Close       High        Low       Open     Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA
Date
2022-06-15  13.960731  14.412006  13.845511  14.402404   72785700
2022-07-15  13.423040  13.466248  13.197403  13.298220   38610800
2022-08-15  18.701139  19.001820  18.011343  18.205901   96759000
2022-09-15  18.312023  18.412250  18.158735  18.229484   45553200
2022-12-15  13.901888  14.110038  13.138671  13.245900  132385600
2023-02-15  16.866447  16.904293  16.588914  16.765526   72554100
2023-03-15  14.721871  14.810177  14.381262  14.715564   93708800
2023-05-15  18.232086  18.580244  18.047349  18.516296   81996700
2023-06-15  22.249813  23.355112  22.166538  22.863028  120579500
2023-08-15  23.362684  24.339284  23.355114  24.263577   87366200
2023-09-15  26.634552  26.713145  26.414498  26.618833   54801500
2023-12-15  28.911629  29.230146  28.584942  28.813621   56570100
2024-01-15  31.508772  31.541438  30.920738  31.026911   13818300
2024-02-15  34.546944  34.546944  33.362710  33.493384   33246400
2024-03-15  29.663002  29.769176  29.352650  29.646667   59362500
2024-04-15  32.104973  32.219312  31.549608  31.802787   28692000
2024-05-15  33.657104  34.016464  32.868265  32.955912  131281100
2024-07-15  34.706165  34.913500  34.435728  34.525873   22969200
2024-08-15  34.561932  34.760254  34.255435  34.300508   33409000
2024-10-15  34.674068  34.683338  34.358850  34.497915   28204600
2025-01-15  37.290001  37.320000  36.799999  36.930000   32512700

In [16]:
# Exemplo: dados por trimestre
petrobas.loc[petrobas.index.quarter == 3]

Price           Close       High        Low       Open    Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2022-07-01  13.696686  13.850311  13.211805  13.480649  64948200
2022-07-04  13.989537  14.056749  13.701490  13.701490  37324200
2022-07-05  13.456647  13.898321  13.226208  13.874316  78428500
2022-07-06  13.283816  13.672681  12.918955  13.519055  57617200
2022-07-07  13.672682  13.883917  13.442244  13.442244  52147300
...               ...        ...        ...        ...       ...
2024-09-24  34.099251  34.590624  34.043626  34.516453  35104100
2024-09-25  34.349575  34.701879  34.266135  34.395930  38655300
2024-09-26  33.607883  34.229048  33.348293  34.229048  58048200
2024-09-27  33.478088  33.728410  33.311208  33.728410  34537400
2024-09-30  33.385376  33.635697  33.301936  33.524445  21146300

[195 rows x 5 columns]

- Tamb√©m podemos utilizar filtros compostos na filtragem de datas.

In [17]:
# Exemplo: dados do m√™s de Outubro de 2024
petrobas.loc[(petrobas.index.year == 2024) & (petrobas.index.month == 10)]

Price           Close       High        Low       Open    Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2024-10-01  34.275410  34.785322  33.218500  33.385377  49748200
2024-10-02  34.748234  35.165436  34.627708  34.998555  32014500
2024-10-03  35.174706  35.267419  34.497913  34.711148  31033000
2024-10-04  35.081997  35.415759  34.924386  35.369404  22526800
2024-10-07  35.573364  35.582637  35.137623  35.267418  36418000
2024-10-08  34.859489  34.998558  34.720424  34.738967  34142000
2024-10-09  34.507187  34.785320  34.312490  34.646252  30789800
2024-10-10  34.905846  34.989286  34.599896  34.674067  20630100
2024-10-11  34.878029  34.905845  34.599895  34.859486  16343000
2024-10-14  34.961472  35.137625  34.627710  34.738966  22279000
2024-10-15  34.674068  34.683338  34.358850  34.497915  28204600
2024-10-16  34.497913  34.840948  34.479371  34.813132  23041200
2024-10-17  34.238319  34.497910  34.015810  34.497910  22174300
2024-10-18  34.145611  34.368116  33.756221  34.284676  32000800
2024-10-21  33.607883  34.349574  33.561528  34.303219  28390000
2024-10-22  33.478088  33.654239  33.366836  33.561529  29144300
2024-10-23  33.060886  33.320477  32.977446  33.292665  30769100
2024-10-24  33.283398  33.403920  32.968179  33.237039  23058900
2024-10-25  33.515171  33.830390  33.237034  33.339017  32585900
2024-10-28  33.459545  33.496631  32.764210  32.903278  27507100
2024-10-29  33.385376  33.765493  33.190683  33.682056  26090200
2024-10-30  33.237038  33.719137  33.237038  33.487359  26144700
2024-10-31  33.292664  33.422459  33.033073  33.255578  25597000

- Vamos agora criar uma nova coluna no nosso dataset.

In [18]:
# Criando a coluna dia_semana
petrobas['dia_semana'] = petrobas.index.day_name()

In [19]:
petrobas

Price           Close       High        Low       Open    Volume dia_semana
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2022-03-24  12.766703  12.837585  12.471360  12.621000  49402800   Thursday
2022-03-25  12.719449  12.817897  12.569809  12.660381  51780100     Friday
2022-03-28  12.443796  12.632816  12.199645  12.624940  68610500     Monday
2022-03-29  12.719449  12.900593  12.569809  12.652505  93809000    Tuesday
2022-03-30  12.991166  12.991166  12.750953  12.798208  69648400  Wednesday
...               ...        ...        ...        ...       ...        ...
2025-03-18  36.189999  36.410000  35.910000  36.189999  15086400    Tuesday
2025-03-19  36.160000  36.330002  36.029999  36.270000  21180500  Wednesday
2025-03-20  36.240002  36.480000  35.759998  36.160000  46921900   Thursday
2025-03-21  36.799999  37.029999  36.180000  36.220001  61175700     Friday
2025-03-24  36.720001  36.939999  36.500000  36.700001  11539900     Monday

[749 rows x 6 columns]